.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.picture{
    max-width: 100%;
    object-fit: contain;
}

.box{
    width: 20em;
    margin: 1em 0;
}